# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0e1828c49f4f425096d94fd859d85faae8466d674ada890559f6d20c1aef6aa3191325e595fd8e89bcac5b6c7daf10fa416048263759f50146c6e61b859f4b5e

test:
  secret_key_base: fa4b43d6e04104cc4284bcb5a7012630faafc5ce8f904c8037d10559dcc4a8cc9b193ffb19ed834e593501f9b9fdd33126e9fdcffa93ebaaab61d0b5d9037754

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
